In [1]:
# Import pandas
import pandas as pd

In [2]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace=True)

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

Compare the average income based on ethnicity:

In [3]:
ethnicity = df['Ethnicity'].unique()
for value in ethnicity:
    print(value)

Caucasian
Asian
African American

In [4]:
print("The average income of Caucasians is", df[df.Ethnicity == "Caucasian"].loc[:,"Income"].mean())
print("The average income of Asians is", df[df.Ethnicity == "Asian"].loc[:,"Income"].mean())
print("The average income of African Americans is", df[df.Ethnicity == "African American"].loc[:,"Income"].mean())

The average income of Caucasians is 44.521944723618084
The average income of Asians is 44.18783333333334
The average income of African Americans is 47.68210101010099

On average, do married or single people have a higher balance?

In [5]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [6]:
print("The average balance of Married people is", df[df.Married == "Yes"].loc[:,"Balance"].mean())
print("The average balance of Unmarried people is", df[df.Married == "No"].loc[:,"Balance"].mean())

The average balance of Married people is 13.388473477498913
The average balance of Unmarried people is 13.493509015134242

What is the highest income in our dataset?

In [7]:
df.sort_values(by='Income',ascending=False).head(1)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
28,35.271011,186.634,13414,949,2,41,14,Female,No,Yes,African American

In [8]:
df.loc[:, 'Income'].max()

186.634

What is the lowest income in our dataset?

In [9]:
df.sort_values(by='Income',ascending=True).head(1)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
58,9.180797,10.354,3480,281,2,70,17,Male,No,Yes,Caucasian

In [10]:
df.loc[:, 'Income'].min()

10.354

How many cards do we have recorded in our dataset?

In [11]:
df['Cards'].sum()

1183

How many females in our dataset?
How many males in our dataset?

In [12]:
print("Females\n",df[df.Gender == 'Female'].count())
print("Males\n",df[df.Gender == 'Male'].count())

Females
 Balance      207
Income       207
Limit        207
Rating       207
Cards        207
Age          207
Education    207
Gender       207
Student      207
Married      207
Ethnicity    207
dtype: int64
Males
 Balance      193
Income       193
Limit        193
Rating       193
Cards        193
Age          193
Education    193
Gender       193
Student      193
Married      193
Ethnicity    193
dtype: int64

In [13]:
female = df['Gender'][df['Gender'] == 'Female'].count()
male = df['Gender'][df['Gender'] == 'Male'].count()

print(f"The number of females in this dataset is {female}")
print(f"The number of males in this dataset is {male}")

The number of females in this dataset is 207
The number of males in this dataset is 193